* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #207e03;
    text-align: center;
    justify-content: center;
    margin: 0;
}

button {
    color: white;
    background-color: black;
    opacity: .9;
    border-radius: 5px;
    padding: 10px, 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

}

#modal {
    background-color: rgba(167, 167, 167, 0.733);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 0px 30px;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    margin: 5px auto 5px auto;
}

#modal.show {
    opacity: 1;
    pointer-events: auto;
}

#game-rules {
    background-color: rgba(167, 167, 167, 0.733);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 400px;
    height: 150px;
    margin: 5px auto 5px auto;
    display: none;
    overflow: auto;
}

#game-rules, ul {
    text-align: left;
}

#game-rules, h1 {
    text-align: center;
}

#game-rules.show {
    opacity: 1;
}

#rules-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    opacity: .7;
    padding: 5px
}

#bg-music-button {
    position: absolute;
    right: 100px;
    bottom: 5px;
    opacity: .7;
}

#hands {
    background-color: rgba(255, 255, 255, 0.11);
    width: 250px;
    margin: 20px auto 5px auto;
    border-radius: 10px;
}

#scores {
    background-color: rgba(255, 255, 255, 0.11);
    width: 250px;
    margin: 5px auto 5px auto;
    border-radius: 10px;
}

@media (max-width: 710px) {
    #game-rules {
        width: 250px;
    }
}

@media (max-width: 480px) {

    #game-rules {
        height: 100px;
        overflow: auto;
    }

    #button-div {
        right: 0;
        bottom: 0;
        margin: 10px 0px 0px 10px;
    }

    #bg-music-button {
        padding: 5px 0px 5px 0px
    }

    #rules-button {
        opacity: .7;
    }
}

@media (min-width: 420px) {
    button:hover {
        background-color: rgba(255, 255, 255, 0.281)
    }
}

@media (min-height: 600px) {
    #game-rules {
        height: 200px;
    }
}

#h1-header {
    animation: color-change 3s infinite;
  }
  
@keyframes color-change {
    0% { color: red; }
    50% { color: black; }
    100% { color: red; }
  }